.create-book-form {
  background-color: #f7dada;
  padding: 15px;
  width: 300px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.create-book-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

.create-book-form input[type="text"],
.create-book-form input[type="number"],
.create-book-form input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 12px;
  font-size: 14px;
}

.create-button-container {
  display: flex;
  justify-content: center; /* Centers the button horizontally */
}

.create-book-form button {
  background-color: #008CBA;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.create-book-form button:hover {
  background-color: #006494;
}

.create-book-form button:disabled {
  background-color: #ddd;
  cursor: default;
}