.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: fit-content;
    height: 40px; /* Tăng chiều cao */
  }
  
  .search-type {
    background-color: #ddd; /* Màu nền xám cho nút chọn loại tìm kiếm */
    border: none;
    padding:  15px; /* Tăng padding để rộng hơn */
    font-weight: bold;
    font-size: 16px; /* Tăng font-size */
    color: #333;
    cursor: pointer;
    outline: none;
  }
  
  .search-input {
    border: none;
    outline: none;
    padding: 10px 15px; /* Tăng padding để rộng hơn */
    font-size: 16px; /* Tăng font-size */
    flex: 1;
    color: #333;
  }
  
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px; /* Tăng padding */
    outline: none;
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    width: 24px; /* Tăng kích thước biểu tượng */
    height: 24px;
  }
  